[submodule "submodules/uiGridLayout"]
	path = submodules/uiGridLayout
	url = git@github.molgen.mpg.de:MPIBR-WidgetToolbox/uiGridLayout.git
[submodule "submodules/ImageIO"]
	path = submodules/ImageIO
	url = git@github.molgen.mpg.de:MPIBR/ImageIO.git
